
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /%C3%A5r2/CMS2/woocommerce-slutprojekt/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /%C3%A5r2/CMS2/woocommerce-slutprojekt/index.php [L]
</IfModule>

# END WordPress